* {
    /* Свойства для сброса начальных стилей элементов */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}


header {
    /* Стили для хедера */
    width: 1440px;
    height: 70px;
    background: #2965f1;
    padding: 23px 0 23px;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    /* Стили для первой секции */
    background-color: #fafaff;
    padding: 60px 0 60px;
    min-height: 100vh;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
    font-weight: 400;
    font-size: 18px;
}

.main-image {
    /* Стили для изображения в первой секции */
    max-width: 715px;
}


.about-section {
    /* Стили для второй секции */
    background-color: #fff;
    padding: 100px 0;
}

select {
    /* Стили для выпадающего списка */
    width: 150px;
    padding: 8px 0;
    font-weight: 400;
    font-size: 16px;
    list-style-image: url("./Assets/ep_arrow-down.svg");
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    list-style-image: url("./Assets/solar_map-arrow-up-bold.svg");
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    font-weight: 400;
    font-size: 16px;
    padding-left: 25px;
    margin-right: 10px;
}

.label {
    /* Стили для подписей чекбоксов */
    width: 330px;
    height: 36px;
    font-weight: 400;
    font-size: 16px;
}

.text-field {
    /* Стили для односточного поля ввода текста */
    padding: 0 9px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
    width: 330px;
    height: 36px;

}

.btn {
    /* Стили для кнопки */
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border: none;
}

.line {
    /* Стили для линии */
    margin: 60px 0 60px;
}

table {
    /* Стили для таблицы */
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 14px;
}

th, td {
    /* Стили для ячеек таблицы */
    border: 1px solid #95a1bb;
    padding: 11px 58px 12px 15px
}

footer {
    /* Стили для футера */
    background: rgba(163, 167, 255, 0.3);
    width: 1440px;
    height: 70px;
    padding: 26px 0 27px;
}

.footer-link {
    /* Стили для футера */
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
}

.footer-link:visited {
    color: #fff;
}